# List of ignore folder and files
/[Tt]emp/
/Project Resources/
.vscode/
.idea/
node_modules/
.cache/
dist/
build/

# List of ignore files
*.exe
*.txt
*.log
.DS_Store
Thumbs.db
*.swp
*.swo
.env
.env.local